$ts-font: "omnes-pro",sans-serif;
$ts-code: Monaco, Menlo, Consolas, "Courier New", monospace;

// font weight
$heading-thick: 600;
$heading-thin: 500;
$body-weight: 400;
$thin-weight: 300;

$im-phone:         '\e600';
$im-envelope:      '\e604';
$im-pencil:        '\e606';
$im-paperclip:     '\e608';
$im-user:          '\e60d';
$im-user-group:    '\e60e';
$im-user-add:      '\e60f';
$im-share:         '\e611';
$im-place-marker:  '\e612';
$im-book:          '\e637';
$im-clock:         '\e63d';
$im-circle-o:      '\e643';
$im-pie-chart:     '\e670';
$im-checkmark:     '\e677';
$im-close:         '\e678';
$im-minus:         '\e67f';
$im-plus:          '\e680';
$im-information:   '\e683';
$im-info-circle:   '\e684';
$im-warning:       '\e687';
$im-options:       '\e696';
$im-expand:        '\e6b3';
$im-contract:      '\e6b4';
$im-open-left:     '\e6cd';
$im-open-down:     '\e6ce';
$im-open-up:       '\e6cf';
$im-open-right:    '\e6d0';
$im-sub-list:      '\e6b8';
$im-note:          '\e666';
$im-add-list-item: '\e694';
$im-caret-down:    '\e6ca';
$im-caret-up:      '\e6cb';
$im-data:          '\e66c';
$im-enter:         '\e676';
$im-download:      '\e6a3';
$im-calender:      '\e63f';
$im-graph:         '\e66f';
$im-gear:          '\e62a';
$im-lock:          '\e673';
$im-unlock:        '\e674';
