/////
// TOOLBAR MODULE
/////
$left-panel-background-color:            $ts-blue-base;
$toolbar-width:                          250px;
$toolbar_breadcrumb-link-border-color:   lighten($ts-blue-base, 15%);
$toolbar_breadcrumb-flyout-border-color: $ts-black-med;