$thinkspace-dock-height:                   $content-wrapper-margin-bottom;
$thinkspace-dock-bottom:                   1.875em;
$thinkspace-dock-z-index:                  5001;
$thinkspace-dock-min-width:                300px;
$thinkspace-dock_list-item-action-padding: 0.35em;
$thinkspace-dock-addon-height:             300px;
$thinkspace-dock-expansion-width:          350px;
$totem-addons-toolbar-height:              40px;
$thinkspace-dock_pane-min-width:           550px;
$thinkspace-dock_pane-min-height:          400px;
$thinkspace-dock_expansion-header-padding: 0.35em;