.below16 {
  margin-bottom: 1rem;
}

.text14 {
  font-size: .875rem;
}

.light-emphasis {
  font-weight: $ts-bold;
  color: $ts-black-base;
}
.top-right {
  position: absolute;
  top:      0;
  right:    0;
}