.radiation-sim_chart {
  width: 700px;
  height: 400px;
  //margin-left: 10%;
}

.radiation-sim_btn {
  margin-right: 2em;
}

.radiation-sim_radio-header-left {
  display:inline-block;
  margin-right: 5em;
  font-size: 14px;
}

.radiation-sim_radio-header-right {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}