.ts-grid_row {
  @include fluid-grid-row();
}

.ts-grid_columns {
  @include grid-column();
  padding:    0;

  &.small-centered, &.medium-centered, &.large-centered {
    margin-left:  auto;
    margin-right: auto;
    float:        none;
  }

  


  &.ts-grid_columns-thin {
    padding-left:  $content-padding/2;
    padding-right: $content-padding/2;
  }

  &.ts-grid_columns-thick {
    padding-left:  $content-padding;
    padding-right: $content-padding;

    @media only screen and (max-width: $small-breakpoint) {
      padding-left:  $content-padding/2;
      padding-right: $content-padding/2;
    }

  }

  &.ts-grid_columns-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

}

.ts-grid_sticky {
  overflow-y: auto;
  overflow-x: auto;
}

