.tsi-wrapper {
	display: inline-block;
	margin-right: .5em;

}

.icon-tiny {
  margin-top: 1px;
  height:     14px;
  width:      14px;
}

.icon-small {
	height: 16px;
	width:  16px;
}

.icon-large {
	height: 32px;
	width:  32px;
}