.phase-content_heading {
	margin-bottom: 2em;
	h4 {
		margin-bottom: 0px;
		font-weight:   $ts-heavy;
	}

}

.phase-content_section-heading {
	margin-bottom:      2em;
	h5 { margin-bottom: 0px; }
	p {font-size: .875em;}
}

.phase-content_section { margin-bottom: 3em; }

.phase-content_question-label {
	margin-bottom: 1em;
	font-size:     1em;
	font-weight:   $ts-bold;
}